{% extends 'common.html' %}
{% block title %}
Riget Zoo Adventures | Login
{% endblock %}
{% block bg_img %}zebra_in_wild.jpg{%endblock%}
{% block bg_blur %}3px{%endblock%}
{% block hero_title %}
<span class="title">
  Login, and start your adventure.
</span>

<form method="post" action="/login" class="login">
  <input name="emailusername" id="emailusername" placeholder="Email/Username..." required />
  <input type="password" name="password" id="password" placeholder="Password..." required />
  <a class="off-text" href="/forgot-password" style="text-decoration: underline;">
    Forgotten password?
  </a>
  <button class="primary icon" type="submit">
    <i class="fa-solid fa-right-to-bracket"></i>
    <text>Login</text>
  </button>
</form>
{%endblock%}
{% block content %}

{% endblock %}