{% extends 'common.html' %} {% block title %} Riget Zoo Adventures | Signup {% endblock %} 
{% block bg_img %}giraffe_head.jpg{%endblock%}
{% block bg_blur %}3px{%endblock%}

{% block hero_title %}
<span class="title">
  Sign up, and start your adventure.
</span>
<form method="post" action="/signup" class="account">
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Email address..."
    required
  />
  <input name="username" id="username" placeholder="Username..." required />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Password..."
    required
  />
  <input
    type="password"
    name="conf_password"
    id="conf_password"
    placeholder="Confirm password..."
    required
  />
  <button class="primary icon">
    <i class="fa-solid fa-user-plus"></i>
    <text>Sign Up</text>
  </button>
  <a class="off-text" href="/login" style="text-decoration: underline;">
    Already have an account? Login here
  </a>
</form>
{%endblock%}
{% block
content %}

{% endblock %}
