{% extends 'common.html' %}
{% block title %}
RZA | Bookings
{% endblock %}
{% block bg_img %}elephants_walking_on_grass.jpg{%endblock%}
{% block bg_blur %}3px{%endblock%}
{% block hero_title %}
<span class="title">
    View Bookings
</span>
<a href="bookings/new">
    <button class="icon primary" style="width: fit-content">
        <i class="fa-solid fa-square-plus"></i>
        <text>New booking</text>
    </button>
</a>
{%endblock%}
{% block content %}
<div class="bookings">
    {% for booking in bookings %}
    <div class="booking">
        <span class="title">
            {{ booking.dateTime|datetime("%d/%m/%y") }}
        </span>
        <span class="title">
            {{ booking.dateTime|datetime("%H:%M") }}
        </span>

        <img class="qr" src="{{ qrcode(booking.secret) }}">
        <div style="display: flex; gap: 10px; margin-top: 15px;">
            <span class="title">
                {{ booking.adults }} Adults
            </span>
            <span>|</span>
            <span class="title">
                {{ booking.children }} Children
            </span>
        </div>
        {% if booking.used %}
        <button class="primary icon">Remove</button>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}