/* Import Fredoka font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", serif;
    font-size: 20px;
}

body {
    inset: 0;
    margin: 15px;
    padding: 0;
    font-size: 20px;
    background-color: #F9F0ED;
}

.hero {
    height: 70vh;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 10px);
}

.navbar-title a {
    font-size: 30px;
    font-weight: 600;
    color: #F29500;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-content * {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

.navbar-content * a {
    color: black;
}

.navbar-content * a:hover {
    color: #F29500
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

h1 {
    font-weight: 600;
    font-size: 54px;
    color: white;
}

.hero_title {
    margin-top: 500px;
}

button .primary {}