{% extends 'common.html' %}
{% block title %}
Riget Zoo Adventures | Home
{% endblock %}
{% block bg_img %}white_and_brown_lion_on_grass.jpg{%endblock%}
{% block hero_title %}
{% if user %}
<span class="title">
    Welcome to <span style="color: #F29500;  font-size: 54px;">Riget Zoo Adventures</span>, {{user.username}}!
</span>
{% else %}
<span class="title">
    Welcome to <span style="color: #F29500; font-size: 54px;">Riget Zoo Adventures</span>!
</span>
<a href="/login">
    <button class="primary">
        Get Started
    </button>
</a>
{% endif %}
{% endblock %}